<h1>IPTV Video Player</h1>
<video id="video" controls width="640" height="360" data-url="{{item.url}}"></video>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    const video = document.getElementById('video');
    const videoSrc = video.getAttribute('data-url');;

    if (Hls.isSupported()) {
        const hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
            video.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
        video.addEventListener('loadedmetadata', function () {
            video.play();
        });
    } else {
        alert('Trình duyệt của bạn không hỗ trợ phát video HLS');
    }
</script>