<div class="row">
    <div class="col-12 text-center mb-4">
        <h1>{{t 'about-title'}}</h1>
        <p class="lead">{{t 'about-description'}}</p>
        <p class="mt-3">
            <a href="https://github.com/phanxuanchanh/nodejs-iptv-player" id="github-link" class="me-3 text-decoration-none">
                <i class="fab fa-github fa-lg"></i> GitHub
            </a>
            <a href="http://iptv-player.prj.phanxuanchanh.com/" target="_blank" id="website-link" class="text-decoration-none">
                <i class="fas fa-globe fa-lg"></i> Website
            </a>
        </p>
        <p class="mt-1">
            {{t 'app-version'}}: {{consts.APP_VERSION}}
        </p>
    </div>
</div>