<div class="row">
    <div class="col-12 text-center mb-4">
        <h1>About This App</h1>
        <p class="lead">An IPTV player for Windows that streams live TV channels from M3U playlists.</p>
        <p class="mt-3">
            <a href="https://github.com/phanxuanchanh/nodejs-iptv-player" id="github-link" class="me-3 text-decoration-none">
                <i class="fab fa-github fa-lg"></i> GitHub
            </a>
            <a href="http://iptv-player.prj.phanxuanchanh.com/" target="_blank" id="website-link" class="text-decoration-none">
                <i class="fas fa-globe fa-lg"></i> Website
            </a>
        </p>
    </div>
</div>